@import "global.css";

.title {
    font-size: 36px;
    font-weight: 600;
    color: var(--title);

    display: inline-block;
    margin-top: 108px;
    margin-left: 79px;

    padding-bottom: 15px;
    border-bottom: 4px solid var(--title);
}

/* Posts */
.posts-section {
    margin: 46px 0px;
    padding: 0px 80px;

    display: flex;
    flex-wrap: wrap;
    gap: 58px 63px;
    justify-content: space-between;
}

.post-card {
    width: 100%;
    max-width: 409px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.post-card:hover {
    transform: scale(1.1);
}

.post-card img {
    width: 100%;
    height: 273px;
    border-radius: 8px 8px 0px 0px;
}

.post-texts {
    padding: 20px 21px 18px 29px;
}

.post-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--title);
    margin-bottom: 0.75rem;
}

.post-content {
    font-size: 0.8125rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 0.3125rem;
}

a{
    text-decoration: none;
}

.post-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 0.8125rem;
    font-weight: 700;
    color: var(--title);
}

@media (max-width: 1512px) {
    .page-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        margin-left: 0;
        margin-top: 24px;
    }

    .posts-section {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 23px 0px;
        padding: 0px 20px;
    }

}

@media (max-width: 500px) {
    .post-card {
        width: 80%;
    }

    .post-card img {
        height: 200px;
    }
}